@use '../abstracts' as *;

.game-block {
  position: relative;
  height: $block_helight;
  width: $block_width;
  max-width: 100%;
  transition: transform 0.5s, box-shadow 0.4s;
  cursor: pointer;
  flex: 1 0 $block_helight;
  margin: 0 10px 20px;
  transform-style: preserve-3d;
  // border: 5px solid $darker;

  &:hover,
  &.flip {
    transform: rotateY(180deg);
    box-shadow: $shadow;
  }

  &__front {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $darker;
    line-height: $block_helight;

    &::before {
      content: '?';
      color: $white;
      font-size: 140px;
      font-weight: bold;
    }
  }

  &__back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    
  }

  &__img {
    width: 6.25rem;
    height: 6.25rem;
  }
}