@use '../abstracts' as *;

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 300ms cubic-bezier(.2,0,.38,.9);

  &__content {
    width: 500px;
    max-width: 100%;
    min-height: 300px;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: $shadow;
    background-color: $white;
  }

  &__head {
    padding: 1.5rem 1rem;
    margin-bottom: 0.8rem;

    &--title {
      font-weight: 600;
      color: $main;
      margin-bottom: 1rem;
    }
  }
}