// colors
$main: #01ac67;
$bg: #eef2f5;
$white: #ffffff;
$dark: #313131;
$darker: #262626;
$text: #a9b1ba;

// font sizes
$font_base: 16px;
$font_lg: 18px;
$font_xl: 20px;
$font_md: 15px;
$font_sm: 14px;

// shadow
$shadow: 0 5px 20px rgba(0, 0, 0, 0.1);

$block_helight: 12rem;
$block_width: 14rem;